$white: rgb(241, 238, 238);
$black: rgba(0, 0, 0, 0.9);

#levels-menu-discussion .MuiSvgIcon-root {
    font-size: 1.2rem;
}

.levels-btn-cancel {
    margin-right: 20px !important;
}

.levels-btn-collapse {
    text-transform: none !important;
    font-size: 12px !important;
    min-width: 60px !important;
    width: 60px;
}

#levels-list-discussion-root {
    textarea {
        border-radius: 5px;
        &:focus {
            border: 1px solid rgb(3, 102, 214);
        }
    }
    .MuiAvatar-root {
        width: 30px;
        height: 30px;
    }
}

#levels-btn-discussion-root {
    width: 0px;
    height: 0px;

    svg {
        margin-right: 3px;
        font-size: 15px;
        color: #a2a2a1;
    }

    span {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-left: 4px;
    }
}

.notion-dark-theme {
    #levels-menu-discussion {
        box-shadow: rgba(255, 255, 255, 0.07) 0px -1px 0px;
        .MuiSvgIcon-root {
            color: $white;
        }
    }

    #levels-list-discussion-root {
        textarea {
            color: $white;
            background-color: $black;
        }

        .levels-btn-collapse {
            color: $black;
        }
        .levels-btn-cancel,
        .levels-btn-comment {
            text-transform: none;
            color: $white;
        }
    }

    #levels-btn-discussion-root {
        span {
            color: rgba(255, 255, 255, 0.4);
        }
    }
}
.notion-light-theme {
    // * {
    //     color: rgba(0, 0, 0, 0.9);
    //     background-color: rgba(255, 255, 255, 0.9);
    // }

    #levels-menu-discussion {
        box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
        .MuiSvgIcon-root {
            color: $black;
        }
    }

    #levels-list-discussion-root {
        textarea {
            color: $black;
            background-color: $white;
        }
        .levels-btn-collapse {
            color: $black;
        }
        .levels-btn-cancel,
        .levels-btn-comment {
            text-transform: none;
            color: $black;
        }
    }

    #levels-btn-discussion-root {
        span {
            color: rgba(55, 53, 47, 0.4);
        }
    }
}
